@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300&family=Merriweather+Sans:wght@300&display=swap');

* {
    margin: 0;
    padding: 0;
    border: none;
}

body {
    font-family: 'Lato', sans-serif;
    font-weight: 300;
    color: #2a2a2a
}

/* headings and logo */


 h1, h2 {
    font-family: 'Merriweather Sans', sans-serif;
    text-transform: uppercase;
    letter-spacing: 3px;
    color: #3a3a3a;
 }

 #logo {
     float: left;
     font-size: 250%;
     margin-left: 30px;
 }

 #menu {
     font-size: 110%;
     letter-spacing: 3px;
 }
#menu, #logo{
    line-height: 75px;
}

 #menu li {
     float: right;
     list-style-type: none;
     margin-right: 40px;
 }

 #menu a {
     text-decoration: none;
     color: inherit;
 }

 #menu a:hover {
     border-bottom: 1px dotted #3a3a3a;
 }

 .active {
     border-bottom: 1px dotted #3a3a3a;
 }

 /* hero image and cover text - Home page*/

 #hero-outer {
    height: 600px;
    width: 100%;
    overflow: hidden;

    position: relative; 
}

#cover-text, #cover-text h2 {
    color: #3a3a3a
}

#hero-image {
    height: 100%;
    width: 100%;
    background: url(../images/hero-image.jpg);
    background-repeat: no-repeat;
    background-size: 100%;
    background-position: center;
}

#cover-text {
    font-size: 100%;   
    font-family: 'Merriweather Sans', sans-serif;
    text-transform: uppercase;
    letter-spacing: 3px;

    width: 300px;  
    height: 200px;
    padding-top: 30px;
    padding-left: 30px;

    background-color: rgba(70, 67, 98, .7);

    bottom: 50px;
    right: 40px;

    position: absolute;
}
/* Welcome pitch */

.pitch {
    background-color: rgba(70, 67, 98, .7);
    height: 200px;
    width: 100%;
    padding-top: 30px;
    color: #efefef;
}

.pitch h2 {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 30px;
    color: #efefef;
}



/* middle section - (Meet the team) */

#the-team {
    height: 600px;
    width: 100%;
    padding-top: 20px;
    
}

#center-align {
    text-align: center;

}

#left-about {
    padding-top: 30px;
    width: 33%;
    
    margin-right: 30px;
}


#right-about {
    padding-top: 30px;
    width: 33%;
    
    margin-left: 30px;

}

#center-about {
    width: 33%;
    margin: 0;
    display: flex;
    justify-content: center;
}

hr {
    border-top: 1px dotted #3a3a3a;
    width: 100%;
    margin: 3px 0;
}

.left-about-heading h2 {
    text-align: center;
}

.left-about-heading {
    width: 60%;
    float: right;
    line-height: 20px;
    clear:both;
    margin-bottom: 50px;
}

.right-about-heading h2 {
    text-align: center;
}

.right-about-heading {
    width: 60%;
    float: left;
    line-height: 20px;
    clear:both;
    margin-bottom: 50px;
}

.about-paragraph {
    text-align: center;
}

.center-about-heading {
    background-image: none;
    margin: 30px 20px;
}

.center-about-image {
    padding: 0;
    width: 100%;
    border-radius: 100px;
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
}

@media screen and (max-width: 600px) {
    .center-about-image {
      display: flex;
      flex-direction: column;
    }
  }

  /* Services page  */

#service-block {
    height: 600px;
    width: 100%;
    margin-top: 50px;
}

#table-block {
    display: flex;
    justify-content: center;
    align-items: center;
}

.service-center-align {
    background-color: rgba(70, 67, 98, .7);
}

.service-center-align, p {
    text-align: center;
    margin: 40px 20px;
}

 /* Call to action "Our Service Page" */

#our-offer, th, td {
    border: 1px #3a3a3a dotted;
    margin: 0 20px;
}

#book-today-bottom, a {
    text-align: center;
    text-decoration: none;
}

 /* Contact Us page  */

 #hours-block, .lab-hours {
     display: flex;
     align-items: center;
     justify-content: center;
     flex-direction: column;
     margin: 0;
 }

 #hours-block {
    background-image: url(../images/contact-background.jpg);
    width: 100%;
    height: 300px;
 }

 .lab-hours {
    margin: 0;
    width: 50%;
 }

 .table-hours {
     height: 100px;
     width: 75%;
     border: 1px #3a3a3a dotted;
     text-align: center;
 }

  /* contact page bottom block */
#address-up {
    width: 100%;
    height: 450px;
    padding: 20px;
    display: flex;
    justify-content: center;    
    align-items: center;
    flex-direction: column;
}

.address-heading {
    padding: 20px;
    margin-top: 10px;
}

.address-down, .phone-down {
    width: 100%;
    height: 30px;
    display: flex;
    justify-content: center;    
    align-items: center;
    padding: 5px;
    border: 5px;
}

 /* footer */

 .footer-block {
     background-color: #2a2a2a;
     height: 25px;
     width: 100%;
     margin-top: 10px;
     padding: 10px;
     display: flex;
     justify-content: space-evenly;
 }

 .footer-link a:hover {
    border-bottom: 1px dotted #efefef;
 }

 .footer-text h3 {
    font-family: 'Merriweather Sans', sans-serif;
    text-transform: uppercase;
    letter-spacing: 3px;
    color: #efefef;
 }

