@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300&family=Merriweather+Sans:wght@300&display=swap');

* {
    margin: 0;
    padding: 0;
    border: none;
}

body {
    font-family: 'Lato', sans-serif;
    font-weight: 300;
    color: #2a2a2a
}

/* headings and logo */


 h1, h2 {
    font-family: 'Merriweather Sans', sans-serif;
    text-transform: uppercase;
    letter-spacing: 3px;
    color: #3a3a3a;
 }

 #logo {
     float: left;
     font-size: 250%;
     margin-left: 30px;
 }

 #menu {
     font-size: 110%;
     letter-spacing: 3px;
 }
#menu, #logo{
    line-height: 75px;
}

 #menu li {
     float: right;
     list-style-type: none;
     margin-right: 40px;
 }

 #menu a {
     text-decoration: none;
     color: inherit;
 }

 #menu a:hover {
     border-bottom: 1px dotted #3a3a3a;
 }

 .active {
     border-bottom: 1px dotted #3a3a3a;
 }

 /* hero image and cover text */

 #hero-outer {
    height: 600px;
    width: 100%;
    overflow: hidden;

    position: relative; 
}

#cover-text, #cover-text h2 {
    color: #3a3a3a
}

#hero-image {
    height: 100%;
    width: 100%;
    background: url(../images/hero-image.jpg);
    background-repeat: no-repeat;
    background-size: 100%;
    background-position: center;
}

#cover-text {
    font-size: 100%;   
    font-family: 'Merriweather Sans', sans-serif;
    text-transform: uppercase;
    letter-spacing: 3px;

    width: 300px;  
    height: 200px;
    padding-top: 30px;
    padding-left: 30px;

    background-color: rgba(70, 67, 98, .7);

    bottom: 50px;
    right: 40px;

    position: absolute;
}

/* middle section - (Meet the team) */

#the-team {
    height: 600px;
    width: 100%;
    
}

#center-align {
    text-align: center;

}

#left-about {
    padding-top: 30px;
    width: 33%;
    float: left;
    /* pic later */
}

#right-about {
    padding-top: 30px;
    width: 33%;
    float: right;

     /* pic later */
}

#center-about {
    width: 33%;
    margin: 0 auto;
    background-color: chocolate;
     /* pic later */
}

hr {
    border-top: 1px dotted #3a3a3a;
    width: 100%;
    margin: 3px 0;
}

.left-about-heading h2 {
    text-align: center;
}

.left-about-heading {
    width: 60%;
    float: right;
    line-height: 20px;
    clear:both;
    margin-bottom: 50px;
}

.right-about-heading h2 {
    text-align: center;
}

.right-about-heading {
    width: 60%;
    float: left;
    line-height: 20px;
    clear:both;
    margin-bottom: 50px;
}

.about-paragraph {
    text-align: center;
}